<section class="sponsorships">
  <h2>Our Sponsors</h2>
  <!-- <h3>Diamond Sponsor</h3>
  <div class="sponsors ">
    <div>
      <img src="/assets/sponsors/abledocs-logo.png " alt="Abled Docs" class="logo">
    </div>
  </div>
  <h3>Platinum Sponsors</h3>
  <div class="sponsors ">
    <div>
      <img src="/assets/sponsors/td_logo.png " alt="TD" class="logo">
    </div>
  </div>
  <h3>Gold Sponsors</h3>
  <div class="sponsors ">
    <div>
      <img src="/assets/sponsors/ami_logo.gif" alt="AMI Inc." class="logo">
    </div>
    <div>
      <img src="/assets/sponsors/siteimprove_logo.png " alt="SiteImprove" class="logo">
    </div>
    <div>
      <img src="/assets/sponsors/telus_digital.png " alt="Telus digital " class="logo">
    </div>
  </div> -->
  <p>If you are interested in sponsoring #a11yTO, please email us at
    <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a>
  </p>
</section>

